
<!--This is the image carousel that goes on the index page,  -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <!--first slide -->
      <div class="item active">
        <%= image_tag "travel.jpg" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Get set, Go!</h1>
              <p><a class="btn btn-lg btn-primary btn-purple" href="http://www.hotels.com" role="button">Find your tickets here!</a></p>
            <!--<p>URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p> -->
          </div>
        </div>
      </div>
      <!--second  slide -->
      <div class="item">
        <%= image_tag "camping.jpg" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Explore the outdoors</h1>
            <p>Discover all the cool places that nature has to offer!</p>
            <p><a class="btn btn-lg btn-primary" href="http://outdoor-adventures.meetup.com/cities/us/ma/boston/s" role="button">Learn more</a></p>
          </div>
        </div>
      </div>

      <!--third slide-->

      <div class="item">
        <%= image_tag "travel1.jpg" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Pack up and go!</h1>
            <p>Find the best traveling deals and tackle your bucket list!</p>
            <p><a class="btn btn-lg btn-primary" href="http://www.kayak.com" role="button">Go Now</a></p>
          </div>
        </div>
      </div>

      <!--fourth slide -->
      <div class="item">
        <%= image_tag "meet.jpg" %>
        <div class="container">
          <div class="carousel-caption">
            <h1>Meet new people!</h1>
            <p>What are you waiting for?</p>
            <p><a class="btn btn-lg btn-primary" href="http://www.meetup.com" role="button">Find out more</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div><!-- /.carousel -->
<center>
      <script src="http://www.rome2rio.com/api/1.2/Autocomplete.js" type="text/javascript"></script>
      <div>
          <form action="http://www.heroku.com" method="get">
          <input type="hidden" name="brand" value="Trip Recorder">
          <table>
          <tr>
          <td>from <td><input type="text" size="30" name='from' value='{USER_IP_HOME}' id="r2r_from" />
          <td>to <td><input type="text" size="30" name='to' value='{EXAMPLE_DESTINATION}' id="r2r_to" />
          <td><input type="submit" value="Start searching!">
          </table>
          </form>
      </div>
    <script type="text/javascript">
            var options = {};
            var autocomplete1 = new r2r.Autocomplete("r2r_from", options);
            var autocomplete2 = new r2r.Autocomplete("r2r_to", options);
    </script>
</center>

<!--Image carousel ends -->

<!--App functionality starts here -->
<div class="transitions_enabled" id="trips">
  <!--here we give functionality to our albums, we also set the size of our images -->
  <% @trips.each do |trip|   %>
    <div class="box panel panel-default">
      <%= link_to (image_tag trip.image.url(:medium)), trip %>
      <div class="panel-body">
        <h2>
          <%= link_to trip.title, trip %>
          <p class="user">
          <h6>Submited by </h6>

          </p>
        </h2>
      </div>
    </div>
  <% end %>
</div>
