<div class="row" id="trip_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading trip_image">
        <%= image_tag @trip.image.url(:medium ) %>
      </div>
      <div class="panel-body">
        <h1>
          <%= @trip.title %>
        </h1>
        <p class="description">
          <%= @trip.description %>
        </p>
        <p></p>
        Submited by
        <%= @user %>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user"></p>
            Submitted by

          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <div class = "btn btn-default">
                  <%= link_to like_trip_path(@trip), method: :put do %>
                  <span class="glyphicon glyphicon-heart">
                      <%= @trip.get_upvotes.size %>
                       </span>
                  <% end %>
              </div>

              <% if user_signed_in? %>
                <div class = "btn btn-default" >
                  <%= link_to "Edit", edit_trip_path%>
                </div>
                <div class = "btn btn-default" >
                  <%= link_to "Delete", trip_path, method: :delete, data: {confirm: "Are you sure?"} %>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
