<!DOCTYPE html>
<html>
<head>
  <title>WorldTraveler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!--This is for the template navigation that will run throughtout th page -->
  <nav class= "navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Trip Recorder", root_path %>
      </div>
        <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "New Trip", new_trip_path %></li>
        <li><%= link_to "Account", edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>

          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        </ul>
      <% end %>
    </div>
  </nav>

  <div class="container">
    <div class="alert alert-info">
      <% flash.each do |name, msg| %>
      <%= content_tag :div, msg%>
    <%end%>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  <%= yield %>
    <%= render 'layouts/footer'  %>

  </div>

</div>


</body>
</html>



